<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="我的律师,找律师,律师咨询,法律咨询,律师助手,人民律师,掌上律师,法律法规,律师事务所,北京律师,深圳律师,广州律师,上海律师,北京律师事务所,深圳律师事务所,广州律师事务所,上海律师事务所,离婚律师,侵权律师,房产律师,劳动争议,劳动仲裁,债务纠纷,合同纠纷,消费维权,人身损害,交通事故,房产纠纷,知识产权,遗产继承,医患纠纷,民事案件,刑事案件" />
<title>我的合同-俺的律师网</title>
<link rel="stylesheet" type="text/css" href="__ROOT__/Public/web/css/default.css">
<link rel="stylesheet" type="text/css" href="__ROOT__/Public/web/css/article.css">
</head>

<body>

<!--头部开始-->
<div class="head_bg">
	<div class="wrap rela">
    	<include file="Public/header" />
    </div>

</div>
<!--头部结束-->
<!--二级菜单开始-->
<div class="sub_navbg">
	<div class="wrap">
    	<div class="sub_nav">
            <div class="sub_nav">
                <a class="a01 select" href="{:U('Personal/index')}">完善资料</a><a class="a01 " href="{:U('Personal/contract')}">我的合同</a>
            </div>
        </div>
    </div>

</div>
<!--二级菜单结束-->

<!--内容开始-->
<div class="wrap">
    <div class="aboutus">
        <div class="bread">首页 - 修改资料</div>
        
        <div class="ziliao clearfix">
        	<div class="ziliao_l">
            	<ul>
                	<li><a href="#">帐号设置</a></li>
					<li><a href="{:U('Personal/index')}">修改资料</a></li>
                    <li><a href="#">修改密码</a></li>
                    <li><a href="#">浏览记录</a></li>
                </ul>
            </div>
            
            <div class="ziliao_r">
            	<p class="t01">我的合同</p>
                <div class="list01">
                	<ul>
                    	<li class="clearfix">	
                        	<p class="t02">离婚协议书范本</p><a href="#" class="btn01"><img src="__ROOT__/Public/web/images/ziliao_btn01.jpg" /></a><span class="time01">2016-01-06  22:32:45</span>
                        </li>
                        <li class="clearfix">	
                        	<p class="t02">离婚协议书范本</p><a href="#" class="btn01"><img src="__ROOT__/Public/web/images/ziliao_btn01.jpg" /></a><span class="time01">2016-01-06  22:32:45</span>
                        </li>
                        <li class="clearfix">	
                        	<p class="t02">离婚协议书范本</p><a href="#" class="btn01"><img src="__ROOT__/Public/web/images/ziliao_btn01.jpg" /></a><span class="time01">2016-01-06  22:32:45</span>
                        </li>
                        <li class="clearfix">	
                        	<p class="t02">离婚协议书范本</p><a href="#" class="btn01"><img src="__ROOT__/Public/web/images/ziliao_btn01.jpg" /></a><span class="time01">2016-01-06  22:32:45</span>
                        </li>
                        <li class="clearfix">	
                        	<p class="t02">离婚协议书范本</p><a href="#" class="btn01"><img src="__ROOT__/Public/web/images/ziliao_btn01.jpg" /></a><span class="time01">2016-01-06  22:32:45</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
    </div>
    
    
</div>




<!--内容结束-->
<!--底部开始-->
<include file="Public/footer"/>
<!--底部结束-->



</body>
</html>
