<include file="Public/personalHeader" />
		<div class="mess_right">
			<div class="mess_tag">
				<ul>
					<li><a href="__APP__/Personal/changePwd">修改密码</a></li>
					<li class="curr"><a href="javascript:void(0)">验证短信</a></li>
				</ul>
			</div>
			<div class="modify_password">
				<div class="pop_trip">请确认你的135****1089手机正在使用。</div>
				<dl>
					<dt>手机号：</dt>
					<dd class="text">135****1089</dd>
				</dl>
				<dl>
					<dt>验证码：</dt>
					<dd><input name="" type="password" /></dd>
					<dd class="none"><a href="javascript:void(0)" class="gybtn btn90gray">发送验证码</a></dd>
				</dl>
				<dl>
					<dt>&#12288;</dt>
					<dd><a href="javascript:void(0)" class="gybtn btn90red">下一步</a></dd>
				</dl>
			</div>
		</div>
	</div>
</div>
<!--底部开始-->
<include file="Public/footer" />






