<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>俺的律师</title>

</head>
<body>
<!--头部开始-->
<include file="Public/header" />
<!--头部结束-->
<div class="l_s174m740">
	<!--左侧-->
	<include file="Public/left" />

		<div class="other_title">关于我们</div>
		<div class="gy_kv aboutkv"></div>
		<div class="about_text">
			<dl>
				<dd>
					<br/>
					<p>
						{$aboutUs.content}
						<!--<span style="color: red;font-size: 24px">俺的律师</span>
						是北京光明网信息管理技术有限公司创立,旨在建立一个由中央重点
						媒体光明日报光明网、法制日报社法制文萃报引导方向的大型、服务类
						律师平台。我们致力于将俺的律师打造成为广大人民群众必备的法律服务平台
						—— 法律服务产品超市;我们传递用户有法可依的呼声，同时改善民众对律师的不信任感
						，最终令全民形成对“律师就在身边”这种服务的依赖感。-->
					</p>
					<!--<p>
						俺的律师有支个招、法律意见书、律师函、搜集证据、代立案、带出庭等产品化服务
						，力求做到贴身又贴心。我们将提高律师服务产品的性价比，让大众都能享受到“人人都有律师团”
						式的服务，为“法制中国”落地贡献一份力量。
					</p>-->

				</dd>
			</dl>

		</div>
	</div>
	<div class="mainBox"><include file="Public/bottom" /></div>
</div>

<!--底部开始-->
<include file="Public/footer" />
<!--底部结束-->
</body>
</html>
