<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>俺的律师</title>
</head>
<body>
<!--头部开始-->
<include file="Public/header" />
<!--头部结束-->
<div class="l_s174m740">
	<!--左侧-->
	<include file="Public/left" />

		<div class="other_title">招贤纳士</div>
		<div class="gy_kv jobkv">
			<!--<div class="bg"></div>
			<div class="jobEmail">
			<span>我们等待你的加入!</span>
			<a href="mailto:jojsdws@gmw.cn">jojsdws@gmw.cn</a>
			</div>-->
		</div>
		<div class="job_sm">{$recruit.content}</div>
		<!--<div class="job_text">
			<dl class="left">
				<dt>招聘经理/主管：</dt>
				<dd>
					岗位职责：<br />
					1、开展招聘工作，评估候选人并提供初步面试报告；<br />
					2、维护、管理、开发招聘渠道；<br />
					3、执行招聘计划，包括电话邀约及岗位面试等；<br />
					4、建立后备人才选拔方案和人才储备机制；<br />
					5、做好招聘日报及招聘情况的统计与分析。
				</dd>
				<dt>PHP开发工程师</dt>
				<dd>
					岗位职责：<br />
					1、负责数据统计后台、运营平台的维护；<br />
					2、会用MySQL，熟悉大日志的分析与计算；<br />
					3、熟悉数据抓取与分析入库。<br />
					任职要求：<br />
					1、2年以上PHP开发经验，本科及以上；<br />
					2、为人踏实可靠，具有团队精神和良好的自学能。
				</dd>
			</dl>
			<dl class="right">
				<dt>Android开发工程师</dt>
				<dd>
					岗位职责：<br />
					1、独立为产品功能模块开发出高质量的代码，并能够保证功能的稳定性和性能任职要求；<br />
					2、对Android基本组件理解透彻，熟悉如何使用流行的Android开源组件；<br />
					3、熟练的Android开发能力，能独立完成相对复杂的UI界面及动画效果；<br />
					4、相对扎实的java基础，包括基本的联网、性能、安全性编码能力；<br />
					5、至少持续1年以上Android开发经验，负责过完整的功能项目；<br />
					6、独立开发过完整的Android移动App者优先；<br />
					7、思维活跃，有创新能力，较强的抗压能力。
				</dd>
			</dl>
		</div>-->
		<div class="job_text01">投递简历给我们</div>
		<div class="job_btn"><span><a href="mailto:andlvshi@andlvshi.com">andlvshi@andlvshi.com</a></span></div>
	</div>
	<div class="mainBox"><include file="Public/bottom" /></div>
</div>

<!--底部开始-->
<include file="Public/footer" />
<!--底部结束-->
</body>
</html>
