<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head lang="en">
<title>俺的律师官网下载 - 权威媒体光明网旗下法律服务平台</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name ="keywords" content="我的律师,APP官网下载,找律师,律师咨询,法律咨询,律师助手,人民律师,掌上律师,法律法规,律师事务所,北京律师,深圳律师,广州律师,上海律师,北京律师事务所,深圳律师事务所,广州律师事务所,上海律师事务所,离婚律师,侵权律师,房产律师,劳动争议,劳动仲裁,债务纠纷,合同纠纷,消费维权,人身损害,交通事故,房产纠纷,知识产权,遗产继承,医患纠纷,民事案件,刑事案件" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="format-detection" content="telephone=no">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="stylesheet" href="__ROOT__/Public/web/css/amazeui.min.css">
<link rel="stylesheet" type="text/css" href="__ROOT__/Public/web/css/default.css">

</head>
<body style="min-width:1000px;">
		<div id="little-Navi" style="width: 1rem;position: absolute;top: 40%;right:0rem;z-index:99;"></div>
		<!--<img src="Public/web/img/t3.png" id="arrow-down" style="width: 40px;height:30px;position: absolute;bottom: 10px;left: 50%;cursor: pointer;"></img>-->
		<img src="__ROOT__/Public/web/img/t4.png" id="arrow-top" style="width: 50px;height:50px;position: absolute;bottom: 40px;right: 40px;"></img>
		<div id="father-div" style="overflow: hidden">
<!--************************************sction1******************************************************************************-->
			<section class="scroll-section appBg01" id="section01">
				<div class="wrap">
					<div class="index_bg02 rela">
						<p class="logo03">
							<span><a href="{:U('Index/index')}"><img src="__ROOT__/Public/web/images/index03_main.png" /></a></span>
							<span class="none"><a href="{:U('Index/index')}"><img src="__ROOT__/Public/web/images/index031_main.png" /></a></span>
						</p>
					</div>
					<div class="appLink">
						<a class="a1" href="http://www.andlvshi.com/Uploads/andlvshia011.apk"></a>
						<a class="a2" href="https://itunes.apple.com/cn/app/id1111211579"></a>
					</div>
				</div>				
			</section>
<!--************************************sction2******************************************************************************-->
			<section class="scroll-section appBg03" id="section02">
				<div class="wrap">
					<div class="app_text">
						<dl id="change">
							<dt id="dt"><span class="ta1">『俺的律师』</span>是由<span class="ta2">国家权威媒体光明日报、光明网、法制日报、法制文萃报倾力打造的法律服务平台</span>，聚合海量实名认证律师，《法治进行时》大型律师真人秀节目实力推广，提供离婚纠纷、侵权赔偿、债权债务、房产纠纷、劳动仲裁、知识产权、交通事故、遗产继承、医患纠纷、民事刑事、公司事务等各类案件的免费咨询和法律服务。专注为您的生活提供最权威、最便捷、最贴心的法律解决方案。</dt>
							<dd>荣获2016年互联网协会优秀<span>“互联网+法律”</span>创新项目大奖。</dd>
							<dd>苹果应用商店Appstore"法律"类应用Top3，获Appstore推荐。</dd>
	
						</dl>
					</div>
				</div>
			</section>
<!--************************************sction3******************************************************************************-->
			<section class="scroll-section appBg02" id="section03">
				<div class="wrap">
					<div class="app_text01 fuckie">
						<dl>
							<dt>北京光明网信息管理技术有限公司</dt>
							<dd>
								北京光明网信息管理技术有限公司是一家互联网+法律的创新型公司，旗下产品是由<span>光明日报、光明网、法制日报、法制文萃报</span>共同打造的法律服务平台，专注为百姓享受律师服务提供解决方案。主要产品为『俺的律师』手机客户端、门户网站、自媒体、报纸媒体等。
							</dd>
						</dl>
					</div>
				</div>
			</section>
	</div>
<script src="__ROOT__/Public/web/js/jquery_min_1.9.js"></script>
<script src="__ROOT__/Public/web/js/scroll.js" type="text/javascript" charset="utf-8"></script>
<div class="tongji">
<script src="http://s95.cnzz.com/z_stat.php?id=1260657137&web_id=1260657137" language="JavaScript" name="百度统计"></script>
</div>	
</body>

</html>
