<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<title>积分规则</title>
<link rel="stylesheet" type="text/css" href="__ROOT__/Public/mobile/css/global.css"><!--全局样式表-->
<link rel="stylesheet" type="text/css" href="__ROOT__/Public/mobile/css/font-awesome.min.css"><!--字体样式表-->
<link rel="stylesheet" type="text/css" href="__ROOT__/Public/mobile/css/grid.css"><!--栅格化样式表-->
<link rel="stylesheet" type="text/css" href="__ROOT__/Public/mobile/css/owl.carousel.css"><!--滑屏控件样式表-->
<link rel="stylesheet" type="text/css" href="__ROOT__/Public/mobile/css/owl.theme.css"><!--滑屏控件主题样式表-->
<link rel="stylesheet" type="text/css" href="__ROOT__/Public/mobile/css/layout.css"><!--自定义样式表-->
<link rel="stylesheet" type="text/css" href="__ROOT__/Public/mobile/css/media.css"><!--媒体查询样式表-->
<script src="__ROOT__/Public/mobile/js/jquery.min.js"></script><!--JQ库-->
<script src="__ROOT__/Public/mobile/js/owl.carousel.min.js"></script><!--滑屏控件-->
</head>

<body>
<div class="home">
    <!--正文模块-->
    <div class="rules-bg">
		    <div class="rules-text">
               <span>关于积分和等级</span>
               <P class="rules-border">积分和等级是对俺的律师活跃用户的鼓励，注册用户进行相关操作就能免费获得相应的积分。
               <p>累计积分达到一定分值后，用户等级将会自动升高。您可以在积分商城中使用积分免费兑换商品。</p>
               <p>本规则的解释权归俺的律师所有，俺的律师会根据实际运营情况对活动内容和规则进行调整。</P>
    		</div>
    </div>
    <div class="rules-bg">
         <div class="rules-level">
                                  <span>用户等级</span>
                                  <ul>
                                     <li class="rul-lev">律师</li>
                                     <li><img src="__ROOT__/Public/mobile/images/rules-1.png">
                                         <div class="rules-jf">
                                                            一级律师<br/>
                                                            积分≤4999
                                         </div>
                                     </li>
                                     <li><img src="__ROOT__/Public/mobile/images/rules-2.png">
                                         <div class="rules-jf">
                                                            一级律师<br/>
                                                            积分≤4999
                                         </div>
                                     </li>
                                     <li><img src="__ROOT__/Public/mobile/images/rules-3.png">
                                         <div class="rules-jf">
                                                            一级律师<br/>
                                                            积分≤4999
                                         </div>
                                     </li>
                                     <li><img src="__ROOT__/Public/mobile/images/rules-4.png">
                                         <div class="rules-jf">
                                                            一级律师<br/>
                                                            积分≤4999
                                         </div>
                                     </li>
                                     <li><img src="__ROOT__/Public/mobile/images/rules-5.png">
                                         <div class="rules-jf">
                                                            一级律师<br/>
                                                            积分≤4999
                                         </div>
                                     </li>
                                  </ul>
                               <ul class="rules-tow">
                                   <li class="rul-lev" style="margin-bottom:10px;">非律师法律人</li>
                                   <li>
                                        <img src="__ROOT__/Public/mobile/images/rules-6.png">
                                        <img class="rul-right" src="__ROOT__/Public/mobile/images/rules-right.png">
                                         <div class="rules-jf">
                                               积分≤4999
                                         </div>
                                   </li>
                                   
                                   <li>
                                         <img src="__ROOT__/Public/mobile/images/rules-7.png">
                                         <img class="rul-right" src="__ROOT__/Public/mobile/images/rules-right.png">
                                         <div class="rules-jf">
                                               积分≤9999
                                         </div>
                                   </li>
                                   
                                   <li>
                                         <img src="__ROOT__/Public/mobile/images/rules-8.png">
                                         <img class="rul-right" src="__ROOT__/Public/mobile/images/rules-right.png">
                                         <div class="rules-jf">
                                               积分≤29999
                                         </div>
                                   </li>
                                   
                                   <li>
                                         <img src="__ROOT__/Public/mobile/images/rules-9.png">
                                         <img class="rul-right" src="__ROOT__/Public/mobile/images/rules-right.png">
                                         <div class="rules-jf">
                                               积分≤49999
                                         </div>
                                   </li>
                                   
                                   <li>
                                         <img src="__ROOT__/Public/mobile/images/rules-10.png">
                                         <div class="rules-jf">
                                               积分≤50000
                                         </div>
                                   </li>
                               </ul>
         </div>
    </div>
    <div class="rules-bg">
                  <div class="rules-inte">
                         <div class="inte">如何获得积分</div>
                       <div class="rul-box">
                         <div class="rul-inte">
                         		<div class="rul-inte1">积分内容</div>
                         		<div class="rul-inte2">分数</div>
                         </div>
                 
                 <!--1-->
                         <div class="rul-inte inte-bg">
                         		<div class="rul-inte1">设置头像</div>
                         		<div class="rul-inte2">10</div>
                         </div>
                 <!--2-->
                         <div class="rul-inte inte-bg">
                         		<div class="rul-inte1">绑定微信</div>
                         		<div class="rul-inte2">10</div>
                         </div>
                 <!--3-->
                         <div class="rul-inte inte-bg">
                         		<div class="rul-inte1">绑定微博</div>
                         		<div class="rul-inte2">10</div>
                         </div>
                 <!--4-->
                         <div class="rul-inte inte-bg">
                         		<div class="rul-inte1">绑定邮箱</div>
                         		<div class="rul-inte2">10</div>
                         </div>
                 <!--5-->
                         <div class="rul-inte inte-bg">
                         		<div class="rul-inte1">通过认证</div>
                         		<div class="rul-inte2">20</div>
                         </div>
                 <!--6-->
                         <div class="rul-inte inte-bg">
                         		<div class="rul-inte1">每日登录</div>
                         		<div class="rul-inte2">5</div>
                         </div>
                 <!--7-->
                         <div class="rul-inte inte-bg">
                         		<div class="rul-inte1">每日分享</div>
                         		<div class="rul-inte2">10</div>
                 </div>
                 <!--8-->
                         <div class="rul-inte inte-bg">
                         		<div class="rul-inte1">解答求助</div>
                         		<div class="rul-inte2">5</div>
                         </div>

                 <!--9-->
                         <div class="rul-inte inte-bg">
                         		<div class="rul-inte1">发布服务</div>
                         		<div class="rul-inte2">20</div>
                         </div>
                 <!--10-->
                         <div class="rul-inte inte-bg">
                         		<div class="rul-inte1">服务被购买</div>
                         		<div class="rul-inte2">10+</div>
                         </div>
                      </div>
                </div>
    </div>
<script>
      /*滑屏控件--移动端*/
	$('#owl-demo').owlCarousel({
        singleItem: true,
		autoPlay:true,
    });
	/*滑屏控件--PC端*/
	$('#owl-demo2').owlCarousel({
        singleItem: true,
		autoPlay:true,
    });
</script>

<script>
!function(win) {
 function resize() {
  var domWidth = domEle.getBoundingClientRect().width;
  if(domWidth / v > 540){
   domWidth = 540 * v;
  }
  win.rem = domWidth / 16;
  domEle.style.fontSize = win.rem + "px";
 }
 var v, initial_scale, timeCode, dom = win.document, domEle = dom.documentElement, viewport = dom.querySelector('meta[name="viewport"]'), flexible = dom.querySelector('meta[name="flexible"]');
 if (viewport) {
  //viewport：<meta name="viewport"content="initial-scale=0.5, minimum-scale=0.5, maximum-scale=0.5,user-scalable=no,minimal-ui"/>
  var o = viewport.getAttribute("content").match(/initial\-scale=(["']?)([\d\.]+)\1?/);
  if(o){
   initial_scale = parseFloat(o[2]);
   v = parseInt(1 / initial_scale);
  }
 } else {
  if (flexible) {
   var o = flexible.getAttribute("content").match(/initial\-dpr=(["']?)([\d\.]+)\1?/);
   if(o){
    v = parseFloat(o[2]);
    initial_scale = parseFloat((1 / v).toFixed(2))
   }
  }
 }
 if (!v && !initial_scale) {
  var n = (win.navigator.appVersion.match(/android/gi), win.navigator.appVersion.match(/iphone/gi));
  v = win.devicePixelRatio;
  v = n ? v >= 3 ? 3 : v >= 2 ? 2 : 1 : 1, initial_scale = 1 / v
 }
 //没有viewport标签的情况下
 if (domEle.setAttribute("data-dpr", v), !viewport) {
  if (viewport = dom.createElement("meta"), viewport.setAttribute("name", "viewport"), viewport.setAttribute("content", "initial-scale=" + initial_scale + ", maximum-scale=" + initial_scale + ", minimum-scale=" + initial_scale + ", user-scalable=no"), domEle.firstElementChild) {
   domEle.firstElementChild.appendChild(viewport)
  } else {
   var m = dom.createElement("div");
   m.appendChild(viewport), dom.write(m.innerHTML)
  }
 }
 win.dpr = v;
 win.addEventListener("resize", function() {
  clearTimeout(timeCode), timeCode = setTimeout(resize, 300)
 }, false);
 win.addEventListener("pageshow", function(b) {
  b.persisted && (clearTimeout(timeCode), timeCode = setTimeout(resize, 300))
 }, false);
 
 resize();
}(window);




</script>

</body>
</html>
