<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, minimum-scale=0.5, user-scalable=yes">
<title>俺的律师</title>
<link rel="stylesheet" type="text/css" href="__ROOT__/Public/mobile/css/default.css" />
</head>

<body>

<div class="kv">
	<div class="visimg"><img src="__ROOT__/Public/mobile/images/banner.png" /></div>
</div>
<div class="menu clearfix">
	<div class="menu01 border01"><div class="wrap01"><p class="visimg02"><img src="__ROOT__/Public/mobile/images/menu01.jpg" /></p></div>实时咨询</div>
    <div class="menu01 border01"><p class="visimg02"><img src="__ROOT__/Public/mobile/images/menu02.jpg" /></p>支个招</div>
    <div class="menu01 border01"><p class="visimg02"><img src="__ROOT__/Public/mobile/images/menu03.jpg" /></p>法律意见书</div>
    <div class="menu01 border01"><p class="visimg02"><img src="__ROOT__/Public/mobile/images/menu04.jpg" /></p>律师函</div>
    <div class="menu01"><p class="visimg02"><img src="__ROOT__/Public/mobile/images/menu05.jpg" /></p>搜集证据</div>
    <div class="menu01"><p class="visimg02"><img src="__ROOT__/Public/mobile/images/menu01.jpg" /></p>写诉状</div>
    <div class="menu01"><p class="visimg02"><img src="__ROOT__/Public/mobile/images/menu06.jpg" /></p>代立案</div>
    <div class="menu01"><p class="visimg02"><img src="__ROOT__/Public/mobile/images/menu07.jpg" /></p>代出庭</div>
</div>

<div class="tree">
	<div class="wrap01">
    	<div class="visimg03"><img src="__ROOT__/Public/mobile/images/tree01.jpg" /></div>
        <div class="visimg03 rela"><img src="__ROOT__/Public/mobile/images/tree02.jpg" /><div class="link01"><a href="#"></a><a href="#"></a></div></div>
        <div class="visimg03 rela"><img src="__ROOT__/Public/mobile/images/tree03.jpg" /><div class="link01"><a href="#"></a><a href="#"></a></div></div>
        <div class="visimg03 rela"><img src="__ROOT__/Public/mobile/images/tree04.jpg" /><div class="link01"><a href="#"></a><a href="#"></a></div></div>
        <div class="visimg03 rela"><img src="__ROOT__/Public/mobile/images/tree05.jpg" /><div class="link01"><a href="#"></a><a href="#"></a></div></div>
        <div class="visimg03"><img src="__ROOT__/Public/mobile/images/tree06.jpg" /></div>
    </div>
</div>

<div class="ad01">
	<div class="wrap01">
    	<div class="visimg04"><img src="__ROOT__/Public/mobile/images/pic01.jpg" /></div>
        <div class="visimg04"><img src="__ROOT__/Public/mobile/images/pic02.jpg" /></div>
    </div>
</div>

<div class="city01">
	<div class="wrap">
		<div>热门城市：<a href="#">北京</a><a href="#">上海</a><a href="#">广州</a><a href="#">深圳</a><a href="#">天津</a><a href="#">重庆</a></div>
        <div class="select01">所在城市：<select><option>北京市</option><option>上海市</option></select><select><option>北京市</option><option>上海市</option></select></div>
        <div class="clearfix">
        	<div class="p01"><p class="visimg05"><img src="__ROOT__/Public/mobile/images/pic03.jpg" /></p></div>
            <div class="p01"><p class="visimg05"><img src="__ROOT__/Public/mobile/images/pic04.jpg" /></p></div>
            <div class="p01"><p class="visimg05"><img src="__ROOT__/Public/mobile/images/pic05.jpg" /></p></div>
            <div class="p01"><p class="visimg05"><img src="__ROOT__/Public/mobile/images/pic06.jpg" /></p></div>
        </div>
    </div>
</div>

<div class="rukou">
	<span><img src="__ROOT__/Public/mobile/images/icon01.jpg" width="50" /><br>律所合作入口</span>
    <span><img src="__ROOT__/Public/mobile/images/icon02.jpg" width="50" /><br>医院直达号</span>
    <span><img src="__ROOT__/Public/mobile/images/icon03.jpg" width="50" /><br>看看俺们都是谁</span>
</div>

<div class="case">
	<div class="title01">精选案例</div>
	<div class="wrap02">
    	<ul>
        	<li>
            	<p class="title02"><img src="__ROOT__/Public/mobile/images/icon04.png" width="45" /> 徐某某敲诈勒索罪一审判决</p>
                <p>被告人朱某某持棍故意伤害他人身体，致一人死亡，已构成故意伤害罪。公诉机关指控的...</p>
                <div class="action"><a href="#"><img src="__ROOT__/Public/mobile/images/icon06.png" width="20" /> 554</a><a href="#"><img src="__ROOT__/Public/mobile/images/icon07.png" width="20" /> 199</a></div>
            </li>
            <li>
            	<p class="title02"><img src="__ROOT__/Public/mobile/images/icon05.png" width="45" /> 徐某某敲诈勒索罪一审判决</p>
                <p>被告人朱某某持棍故意伤害他人身体，致一人死亡，已构成故意伤害罪。公诉机关指控的...</p>
                <div class="action"><a href="#"><img src="__ROOT__/Public/mobile/images/icon06.png" width="20" /> 554</a><a href="#"><img src="__ROOT__/Public/mobile/images/icon07.png" width="20" /> 199</a></div>
            </li>
            <li>
            	<p class="title02"><img src="__ROOT__/Public/mobile/images/icon04.png" width="45" /> 徐某某敲诈勒索罪一审判决</p>
                <p>被告人朱某某持棍故意伤害他人身体，致一人死亡，已构成故意伤害罪。公诉机关指控的...</p>
                <div class="action"><a href="#"><img src="__ROOT__/Public/mobile/images/icon06.png" width="20" /> 554</a><a href="#"><img src="__ROOT__/Public/mobile/images/icon07.png" width="20" /> 199</a></div>
            </li>
        </ul>
    </div>
</div>

<div class="nav">
	<a class="nav01 selected" href="#"><img src="__ROOT__/Public/mobile/images/nav001.png" width="26" /><br>找律师</a>
    <a class="nav01" href="#"><img src="__ROOT__/Public/mobile/images/nav02.png" width="26" /><br>发现</a>
    <a class="nav01" style="margin-top:-35px" href="#"><img src="__ROOT__/Public/mobile/images/nav0.png" width="62" /><br>求助</a>
    <a class="nav01" href="#"><img src="__ROOT__/Public/mobile/images/nav03.png" width="26" /><br>消息</a>
    <a class="nav01" href="#"><img src="__ROOT__/Public/mobile/images/nav04.png" width="26" /><br>我的</a>
</div>


<script type="text/javascript" src="__ROOT__/Public/mobile/js/jquery_min_1.9.js"></script>
<script type="text/javascript" src="__ROOT__/Public/mobile/js/base.js"></script>
<script>
	$(function(){
		//切换面板
		$('.tab a').click(function(){
			var index = $(this).index();
			$(this).addClass('select').siblings('a').removeClass('select');
			$('.tab01').eq(index).show().siblings('.tab01').hide();
		})
		
		$(".select01").change(function(){

			if($(this).val() == '5'){
				$('#peizhi').text("配置：梅林、派西维尔、懵逼蓝*1 VS 莫甘娜、刺客")
			}else if($(this).val() == '6'){
				$('#peizhi').text("配置：梅林、派西维尔、懵逼蓝*2 VS 莫甘娜、刺客")	
			}else if($(this).val() == '7'){
				$('#peizhi').text("配置：梅林、派西维尔、懵逼蓝*2 VS 莫甘娜、奥伯伦、刺客")	
			}else if($(this).val() == '8'){
				$('#peizhi').text("配置：梅林、派西维尔、懵逼蓝*3 VS 莫甘娜、刺客、懵逼红")	
			}else if($(this).val() == '9'){
				$('#peizhi').text("配置：梅林、派西维尔、懵逼蓝*4 VS 莫德雷德、莫甘娜、刺客")	
			}else if($(this).val() == '10'){
				$('#peizhi').text("配置：梅林、派西维尔、懵逼蓝*4 VS 莫德雷德、莫甘娜、奥伯伦、刺客")	
			}
			  
		
		});
		
			
	})
</script>
</body>
</html>
