<link rel="stylesheet" type="text/css" href="__ROOT__/Public/APP/css/global.css"><!--全局样式表-->
<link rel="stylesheet" type="text/css" href="__ROOT__/Public/APP/css/font-awesome.min.css"><!--字体样式表-->
<link rel="stylesheet" type="text/css" href="__ROOT__/Public/APP/css/grid.css"><!--栅格化样式表-->
<link rel="stylesheet" type="text/css" href="__ROOT__/Public/APP/css/owl.carousel.css"><!--滑屏控件样式表-->
<link rel="stylesheet" type="text/css" href="__ROOT__/Public/APP/css/owl.theme.css"><!--滑屏控件主题样式表-->
<link rel="stylesheet" type="text/css" href="__ROOT__/Public/APP/css/layout.css"><!--自定义样式表-->
<link rel="stylesheet" type="text/css" href="__ROOT__/Public/APP/css/media.css"><!--媒体查询样式表-->
<script src="__ROOT__/Public/APP/js/jquery.min.js"></script><!--JQ库-->
<script src="__ROOT__/Public/APP/js/owl.carousel.min.js"></script><!--滑屏控件-->